<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-meta">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A bookstore website">
        <meta name="author" content="ntech">

        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet'
              type='text/css'>

        <!-- Custom styles for this template -->
        <link th:href="@{/css/agency.min.css}" rel="stylesheet">
        <link th:href="@{/css/home.css}" rel="stylesheet">
    </div>
</head>
<body id="page-top">

<div th:fragment="header">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenue A EBookshop!</div>

                <form class="form-signin" action="" method="post">

                    <div class="input-group">

                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Categorie
                            </button>
                            <div class="dropdown-menu">
                                <ul class="">
                                <li class="dropdown-item">
                                    <input class="" data-label="All" id="tout" value="tout" name="categorie" type="radio" >
                                    <label for="tout" >Tout</label>
                                </li>
                                <li class="dropdown-item">
                                    <input class="" data-label="All" id="id1" value="tout" name="categorie" type="radio" >
                                    <label for="id1" >Tout</label>
                                </li>
                                <a class="dropdown-item" href="#">Action</a>
                                </ul>
                            </div>
                            <button class="input-group-text" type="submit"><span class="lighten-3">
                                <i class="fas fa-search text-grey" aria-hidden="true"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
</div>

</body>
</html>