<!-- Created By Francois ASSOGBA at 11/05/2019 for bookstore -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/errors.css}"/>
</head>
<body class="text-center">
<div class="div-center">
    <h1 class=" bigH1 align-content-center">ERROR 403</h1>
    <h1 class="align-content-center">PAGE NOT FOUND!</h1>
</div>

</body>
</html>